:root{
	--header-bg-color: #011F29;
	--header-text-color: #FFF3E6;
	--header-alternate-color: #DFEBD4;

	--footer-bg-color: #FFF3E6;
	--footer-text-color: #011F29;

	--main-bg-color: #335B68;
	--main-text-color: #FFF3E6;

	--secondary-bg-color: #FFF3E6;
	--secondary-text-color: #335B68;

	--tertiary-bg-color: #A77B4E;
	--tertiary-text-color: #E9F7FC;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: "Open sans", sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #011F29;
	background-color: #A5B2B6;
}

h1{font-family: "Martel", serif; font-weight: normal; line-height: 0.9em; font-weight: bold; text-align: center;}
small{font-size: 0.7em; font-weight: normal;}
h2, h3, h4, h5, h5{font-family: "Open sans", sans-serif;font-weight: normal;}

.grid{
	display: grid;
	margin: 0 auto;
	height: auto;
}

.grid.two-cols{
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 10px;
	grid-auto-rows: minmax(120px, auto);
}

.grid.one-two-cols{
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px 10px;
	grid-auto-rows: minmax(120px, auto);
}

form.grid{
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px 10px;
	grid-auto-rows: minmax(40px, auto);
}

form.grid label{font-size: 1.1em; line-height: 40px; /*border-bottom: 1px solid;*/}
form.grid label::after{content:"\f0a4"; float:right;font-family: "FontAwesome";}

.col-2{
	grid-column: span 2;
}

.row-1{grid-row: span 1;}
.row-2{grid-row: span 2;}
.row-3{grid-row: span 3;}
.row-4{grid-row: span 4;}
.row-5{grid-row: span 5;}
.row-6{grid-row: span 6;}
.row-7{grid-row: span 7;}
.row-8{grid-row: span 8;}

.row-auto{
	grid-row: auto;
}

.grid > div.bloc{
	box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	padding: 16px;
}

a{text-decoration: none;}
a:hover{text-decoration: underline;}

.bg-header		{background-color: var(--header-bg-color); color: var(--header-text-color);}
.bg-footer		{background-color: var(--footer-bg-color); color: var(--footer-text-color);}
.bg-main			{background-color: var(--main-bg-color); color: var(--main-text-color);}
.bg-secondary	{background-color: var(--secondary-bg-color); color: var(--secondary-text-color);}
.bg-tertiary	{background-color: var(--tertiary-bg-color); color: var(--tertiary-text-color);}
.bg-header small{color: var(--header-alternate-color);}

.bg-header a		{color: var(--header-text-color)}
.bg-footer a		{color: var(--footer-text-color);}
.bg-main a			{color: var(--main-text-color);}
.bg-secondary a	{color: var(--secondary-text-color);}
.bg-tertiary a	{color: var(--tertiary-text-color);}

.entete{text-align: center; border-bottom: 1px solid; margin: 10px auto 20px auto; width: 80%; padding: 0px 0px 10px 0px; display: block; position: relative;}
.entete > i{position: absolute; left: 0px;}

#header{text-align: center;}

input:not([type=submit]):not([type=file]) {border: 0; background-color: inherit; color: inherit; padding: 2px 10px 2px 10px; border-bottom: 1px solid;}
input:not([type=submit]):not([type=file]):focus{border-bottom: 1px dotted;}
input:invalid, textarea:invalid{box-shadow: none;}

input[type=submit]{border: 2px outset; box-shadow: none; background-color: rgba(255, 255, 255, 0.2); color: inherit; padding: 0px 2.2em 0px 2.2em; font-size: 1.1em; line-height: 2.2em;}
input[type=submit]:hover, input[type=submit]:focus{box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);}
input[type=submit]:active{border: 2px inset;}
::-moz-focus-inner {border:0;}

textarea{border: 0; background-color: inherit; color: inherit; padding: 2px 10px 2px 10px; border-left: 1px solid;}
textarea:focus{border-left: 1px dotted;}
textarea::after{content: "test";}

.text-center{text-align: center;}
.text-right{text-align: right;}

.inline-separator{display: inline-block; margin: 0px 20px 0px 20px;}
.inline-separator::before{content: "|";}

.liste-competences{padding-right: 5%;}
.liste-competences li{margin-bottom: 6px; padding-bottom: 2px; border-bottom: 1px solid transparent;}
.liste-competences li:hover{border-bottom: 1px dotted;}
.note-competence{display: inline-block; float: right;}
.liste-competences li .competence{max-width: 60%; display: inline-block;}

.liste-competences li:hover .note-competence i:nth-child(1){ animation: bounce 0.5s linear 0s alternate infinite; position: relative; bottom: 0px; }
.liste-competences li:hover .note-competence i:nth-child(2){ animation: bounce 0.5s linear 0.1s alternate infinite; position: relative; bottom: 0px; }
.liste-competences li:hover .note-competence i:nth-child(3){ animation: bounce 0.5s linear 0.2s alternate infinite; position: relative; bottom: 0px; }
.liste-competences li:hover .note-competence i:nth-child(4){ animation: bounce 0.5s linear 0.3s alternate infinite; position: relative; bottom: 0px; }
.liste-competences li:hover .note-competence i:nth-child(5){ animation: bounce 0.5s linear 0.4s alternate infinite; position: relative; bottom: 0px; }

.projet a {font-size: 1.1em;}

.liste-interets {line-height: 2em; font-size: 1.1em;}

@keyframes bounce{
	0% {bottom: 0em;}
	50% {bottom: 0.3em;}
	100% {bottom: 0.6em;}
	/*0% {margin-bottom: 0px;}
	50% {margin-bottom: 2px;}
	100% {margin-bottom: 4px;}*/
}
/*}
ul.fadeout li:nth-child(2){
    -webkit-animation: fadeOut 2s linear 2s forwards;
}
ul.fadeout li:nth-child(3){
    -webkit-animation: fadeOut 2s linear 4s forwards;
}
ul.fadeout li:nth-child(1){
    -webkit-animation: fadeOut 2s linear forwards;
}
@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}*/

@media (min-width: 1200px){

	#page-content{width: 80vw; max-width: 1200px;}

	h1{font-size: 32px;}
	h2{font-size: 28px;}
	h3{font-size: 25px;}
	h4{font-size: 22px;}
	h5{font-size: 19px;}
	h6{font-size: 16px;}

	body{padding-top: 4vh; padding-bottom: 4vh;}

}

@media (min-width: 1000px) and (max-width: 1199px){

	#page-content{width: 80vw; max-width: 960px;}

	body{font-size: 14px}

	h1{font-size: 28px;}
	h2{font-size: 26px;}
	h3{font-size: 23px;}
	h4{font-size: 20px;}
	h5{font-size: 17px;}
	h6{font-size: 14px;}

}

@media (max-width: 999px){

	#page-content{width: 100%; max-width: 800px; padding: 0px;}

	.grid.two-cols{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
		grid-auto-rows: minmax(80px, auto);
	}

	.grid.one-two-cols{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
		grid-auto-rows: minmax(80px, auto);
	}

	form.grid{
		grid-template-columns: 100%;
		grid-row-gap: 10px;
		grid-auto-rows: minmax(40px, auto);
	}

	form.grid > label{display: none;}

	[class*=col-]{grid-column: span 1;}

	body{font-size: 14px}

	h1{font-size: 20px;}
	h2{font-size: 18px;}
	h3{font-size: 17px;}
	h4{font-size: 16px;}
	h5{font-size: 15px;}
	h6{font-size: 14px;}

	.inline-separator{display: block; height: 1px; border-bottom: 1px solid; width: 80%; margin: 6px auto 6px auto;}
	.inline-separator::before{content: " ";}

}
